@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');

.customDrawer{
    font-size: 1.2em;
    font-family: 'Playfair Display SC', serif;
    color: rgba(14, 11, 11, 0.836) !important;

}

.item:hover{
    background-color: rgba(71, 83, 252, 0.685) !important;
    color: #fff; 
}

.colorIcon1{
    color: rgb(0, 0, 255) !important;
}

.colorIcon2{
    color: rgb(255, 38, 0) !important;
}